<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>279561732619-qa7kupol34v2375lu45uuffg1tih4p1n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.279561732619-qa7kupol34v2375lu45uuffg1tih4p1n</string>
	<key>API_KEY</key>
	<string>AIzaSyCmlQNSjuZuidzYxpc1XL4zjNSqSq60zCE</string>
	<key>GCM_SENDER_ID</key>
	<string>279561732619</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>CS3217.Trippy</string>
	<key>PROJECT_ID</key>
	<string>trippy-95fa7</string>
	<key>STORAGE_BUCKET</key>
	<string>trippy-95fa7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:279561732619:ios:f421ed2c8021d983393d0e</string>
</dict>
</plist>